<table class="group-box" [routerLink]="[ '/observation',3]">
  <tbody style="vertical-align: top">
    <tr>
      <td>cell
        <!-- <br>r:{{row}} -->
        <br>c:{{numberInCycle}}
        <br>m{{observation.marker}}
      </td>
    </tr>
    <tr>
      <td class="marker">
        <img src="{{markerUrl}}" alt="{{observation.marker}}" />
      </td>
    </tr>
    <td>{{observation.letter}}</td>
    <tr>
    </tr>
    <tr>
      <td>{{observation.numTimes}}</td>
    </tr>
    <tr>
      <td>{{observation.cipher}}x{{observation.cipherCd}}</td>
    </tr>
    <tr>
      <td>{{comments}}</td>
    </tr>
    <tr>
      <td>{{noteMarks}}</td>
    </tr>
  </tbody>
</table>





<!-- 
<table class="chartCellContent" name="RowCol" value="@Model.RowCol" @*onclick="@(" window.location.href='" + @Url.Action("ObservationEdit", "User", new {id = Model.ID, RowCol = Model.RowCol}) + "'
  ");">*@ @*onclick="@("location.href='" + @Url.Action("ObservationEdit", "User", new {id = Model.ID, RowCol = Model.RowCol}) +
  "'");"*@ onclick="location.href='@Url.Action("ObservationEdit", "User", new { id = Model.ID, RowCol = Model.RowCol })'"
  @*location.href='
  <%: Url.Action("Action", "Controller")*@
       >
    <tr>
        <td style="background-color: beige;">
            <img style="width: 50px; height: auto;" src="@Model.MarkerUrl" alt="@Model.MarkerAltText"/>
        </td>
    </tr>
    <tr><td class="chartCellContent date">@Html.Raw(Model.Date)</td></tr>
    <tr><td class="chartCellContent">@Html.Raw(Model.Letter)</td></tr>
    <tr><td class="chartCellContent">@Html.Raw(Model.NumTimes)</td></tr>
    <tr><td class="chartCellContent">@Html.Raw(Model.CipherAndCipherCD)</td></tr>
    <tr><td class="chartCellContent">@Html.Raw(Model.Comments)</td></tr>
    <tr>
        <td>
            <table>
                <tr>
                    @{
                        int i = 0;
                        foreach (string noteMark in Model.NoteMarks)
                        {
                            <td class="chartCellContent" style="@Model.NoteMarksBackgroundColors[i]">
                                <div>@Html.Raw(noteMark)</div></td>
                            i++;
                        }
                    }
                </tr>
            </table>
        </td>
    </tr>
</table> -->
