.group-box {
  display: block;
  height: 12em;
  width: 4em;
  text-align: center;
  border: 1px solid rgb(56, 56, 56);
  border-spacing: 0px;
  border-collapse: collapse;
}

.marker {
  display: block;
  height: 5em;
  width: 4em;
  padding: 0px;
  margin: 0px;
  background-size: 100% 100%;
}

.peak-number {
  height: auto;
  width: auto;
}

td {
  /* font-size: 90%; */
  line-height: 100%;
  display: block;
  width: 4em;
}

.date {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-spacing: 0px;
  background-color: burlywood;
  border-radius: 10px;
  display: block;
  height: 1.2em;
}

span {
  margin-left: 0.1em;
  margin-right: 0.1em;
  /* dfd */
}

.note-imoprtant {
  background-color: rgb(255, 0, 0);
  padding: 0.1em;
  border-radius: 50%;
}

.zoom {
  /* -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s; */
  transition: all 0.4s;
  background-color: white;
}

.zoom:hover {
  /* -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2); */
  transform: scale(1.2, 1.2);
  /* transform: scaleY(1.2); */
}
