<a class="group-box zoom" [routerLink]="[ '/observation',observation.id]" [queryParams]="{numberInCycle:observation.numberInCycle,cycleNumber:observation.numberOfParentCycleInChart, chartId:chartId}">
  <div class="marker" [ngStyle]="{'background-image':'url('+markerUrl+')'}">
    <div>
      <img class="peak-number" src="http://placehold.it/10" alt="">{{observation.peakDayNumber}}
    </div>
  </div>

  <!-- <div class="tdd">id{{observation.id}}</div>
  <div class="tdd">inc{{observation.numberInCycle}}</div>
  <div class="tdd">cinch{{observation.numberOfParentCycleInChart}}</div> -->

  <div class="tdd date">{{observation.date | dateMmDd}}</div>
  <div class="tdd">{{observation.letter}} {{observation.isB?"B":""}}</div>
  <div class="tdd">{{observation.numTimes}}</div>
  <div class="tdd">{{observation.cipher}}{{observation.cipherCd}}</div>
  <!-- <td>{{comments}}</td> -->
  <div class="tdd">B W I</div>
  <div class="tdd">
    <span *ngFor="let item of observation.notes">{{item.content | onlyFirstUpperLetter}}</span>
  </div>
</a>
