
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .notka {
    height: 200px;
  }
  
  .btn {
    width: 49%;
  }

  mat-grid-tile{
    border:1px solid red;
  }
  