USE [kubamiszcz_NaproKartaDBv2]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Charts]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[Title] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Charts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CipherCds]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CipherCds](
	[Id] [int] NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CipherCds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ciphers]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciphers](
	[Id] [int] NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Ciphers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CommentObservations]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentObservations](
	[Comment_Id] [int] NOT NULL,
	[Observation_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CommentObservations] PRIMARY KEY CLUSTERED 
(
	[Comment_Id] ASC,
	[Observation_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cycles]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cycles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChartId] [int] NOT NULL,
	[NumberInChart] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Cycles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Letters]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Letters](
	[Id] [int] NOT NULL,
	[Value] [nvarchar](3) NULL,
 CONSTRAINT [PK_dbo.Letters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Markers]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markers](
	[Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Markers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NumTimes]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumTimes](
	[Id] [int] NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.NumTimes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ObservationNotes]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObservationNotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[IsImportant] [bit] NOT NULL,
	[ObservationId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ObservationNotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Observations]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Observations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CycleId] [int] NOT NULL,
	[NumberInCycle] [int] NOT NULL,
	[MarkerId] [nvarchar](128) NULL,
	[Date] [datetime] NOT NULL,
	[LetterId] [int] NULL,
	[IsB] [bit] NOT NULL,
	[NumTimeId] [int] NULL,
	[CipherId] [int] NULL,
	[CipherCdId] [int] NULL,
	[PeakDayNumber] [int] NULL,
	[NumTimes_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Observations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pictures]    Script Date: 2018-01-26 18:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pictures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](max) NULL,
	[ObservationId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Pictures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'16741705-3ec6-467f-a48c-a5d1c5db1e13', N'asd@asd.asd', 0, N'ABDWIT44/4JR+FkTVe290LaS94gP2NxSaA/OzKgFPcRxBnWqZxQjC0zYLfZ5MQJqGQ==', N'8d603811-3eaf-427f-a593-9acf4ccf5b4a', NULL, 0, 0, NULL, 1, 0, N'asd@asd.asd')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'440a6217-3fcc-460f-b1e9-381a53b87037', N'zxc@zxc.zxc', 0, N'AFpcfXhLVXDCczkwF1Ujtskah9qkaICO42dwNdoYdBD8n8lxyXXe1rLTMNJAcBrWZw==', N'195380ea-7d1c-4b92-802c-25bacbc3dec9', NULL, 0, 0, NULL, 1, 0, N'zxc@zxc.zxc')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'66f3feb6-418e-4079-9895-0417d1ba71da', N'qwe@qwe.qwe', 0, N'AxhSqhbqZ/XN/KBSxdlHgTiUxVgF82JdQ6UEnBP6Ezl81+YtY5XpYHjfBsyllA==', N'5336c8c8-f523-489d-8bb0-bad384c6c4d5', NULL, 0, 0, NULL, 1, 0, N'qwe@qwe.qwe')
GO
SET IDENTITY_INSERT [dbo].[Charts] ON 

GO
INSERT [dbo].[Charts] ([Id], [UserId], [Title], [Note]) VALUES (3, N'16741705-3ec6-467f-a48c-a5d1c5db1e13', N'chart111xxxeeee', N'chartnote11')
GO
INSERT [dbo].[Charts] ([Id], [UserId], [Title], [Note]) VALUES (4, N'16741705-3ec6-467f-a48c-a5d1c5db1e13', N'chart222', N'chartnote22')
GO
INSERT [dbo].[Charts] ([Id], [UserId], [Title], [Note]) VALUES (1003, N'440a6217-3fcc-460f-b1e9-381a53b87037', N'chart333', N'chartnote33')
GO
SET IDENTITY_INSERT [dbo].[Charts] OFF
GO
INSERT [dbo].[CipherCds] ([Id], [Value]) VALUES (1, N'B')
GO
INSERT [dbo].[CipherCds] ([Id], [Value]) VALUES (2, N'G')
GO
INSERT [dbo].[CipherCds] ([Id], [Value]) VALUES (3, N'C')
GO
INSERT [dbo].[Ciphers] ([Id], [Value]) VALUES (1, N'0')
GO
INSERT [dbo].[Ciphers] ([Id], [Value]) VALUES (2, N'10')
GO
INSERT [dbo].[Ciphers] ([Id], [Value]) VALUES (3, N'10DL')
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

GO
INSERT [dbo].[Comments] ([Id], [Content]) VALUES (1, N'Badania')
GO
INSERT [dbo].[Comments] ([Id], [Content]) VALUES (2, N'Wizyta')
GO
INSERT [dbo].[Comments] ([Id], [Content]) VALUES (3, N'ILupucupu')
GO
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Cycles] ON 

GO
INSERT [dbo].[Cycles] ([Id], [ChartId], [NumberInChart], [Note]) VALUES (1, 3, 0, N'n1')
GO
INSERT [dbo].[Cycles] ([Id], [ChartId], [NumberInChart], [Note]) VALUES (4, 3, 1, N'n1')
GO
INSERT [dbo].[Cycles] ([Id], [ChartId], [NumberInChart], [Note]) VALUES (7, 4, 0, N'nn2')
GO
SET IDENTITY_INSERT [dbo].[Cycles] OFF
GO
INSERT [dbo].[Letters] ([Id], [Value]) VALUES (1, N'H')
GO
INSERT [dbo].[Letters] ([Id], [Value]) VALUES (2, N'L')
GO
INSERT [dbo].[Letters] ([Id], [Value]) VALUES (3, N'M')
GO
INSERT [dbo].[Markers] ([Id]) VALUES (N'none')
GO
INSERT [dbo].[Markers] ([Id]) VALUES (N'green')
GO
INSERT [dbo].[Markers] ([Id]) VALUES (N'green-baby')
GO
INSERT [dbo].[NumTimes] ([Id], [Value]) VALUES (1, N'X1')
GO
INSERT [dbo].[NumTimes] ([Id], [Value]) VALUES (2, N'X2')
GO
INSERT [dbo].[NumTimes] ([Id], [Value]) VALUES (3, N'X3')
GO
SET IDENTITY_INSERT [dbo].[ObservationNotes] ON 

GO
INSERT [dbo].[ObservationNotes] ([Id], [Content], [IsImportant], [ObservationId]) VALUES (2, N'b', 0, 4)
GO
INSERT [dbo].[ObservationNotes] ([Id], [Content], [IsImportant], [ObservationId]) VALUES (4, N'a', 1, 5)
GO
INSERT [dbo].[ObservationNotes] ([Id], [Content], [IsImportant], [ObservationId]) VALUES (5, N'a', 1, 4)
GO
SET IDENTITY_INSERT [dbo].[ObservationNotes] OFF
GO
SET IDENTITY_INSERT [dbo].[Observations] ON 

GO
INSERT [dbo].[Observations] ([Id], [CycleId], [NumberInCycle], [MarkerId], [Date], [LetterId], [IsB], [NumTimeId], [CipherId], [CipherCdId], [PeakDayNumber], [NumTimes_Id]) VALUES (3, 1, 1, N'red', CAST(0x0000A84800000000 AS DateTime), NULL, 1, 1, 1, 1, NULL, NULL)
GO
INSERT [dbo].[Observations] ([Id], [CycleId], [NumberInCycle], [MarkerId], [Date], [LetterId], [IsB], [NumTimeId], [CipherId], [CipherCdId], [PeakDayNumber], [NumTimes_Id]) VALUES (4, 1, 2, N'confused', CAST(0x0000A7BB00000000 AS DateTime), NULL, 1, 3, 1, 1, NULL, NULL)
GO
INSERT [dbo].[Observations] ([Id], [CycleId], [NumberInCycle], [MarkerId], [Date], [LetterId], [IsB], [NumTimeId], [CipherId], [CipherCdId], [PeakDayNumber], [NumTimes_Id]) VALUES (5, 1, 3, N'red', CAST(0x0000A83B00000000 AS DateTime), NULL, 1, 2, 2, 2, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Observations] OFF
GO
SET IDENTITY_INSERT [dbo].[Pictures] ON 

GO
INSERT [dbo].[Pictures] ([Id], [Url], [ObservationId]) VALUES (4, N'http://placehold.it/160x100', 4)
GO
SET IDENTITY_INSERT [dbo].[Pictures] OFF
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Charts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Charts_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Charts] CHECK CONSTRAINT [FK_dbo.Charts_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CommentObservations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommentObservations_dbo.Comments_Comment_Id] FOREIGN KEY([Comment_Id])
REFERENCES [dbo].[Comments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentObservations] CHECK CONSTRAINT [FK_dbo.CommentObservations_dbo.Comments_Comment_Id]
GO
ALTER TABLE [dbo].[CommentObservations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommentObservations_dbo.Observations_Observation_Id] FOREIGN KEY([Observation_Id])
REFERENCES [dbo].[Observations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentObservations] CHECK CONSTRAINT [FK_dbo.CommentObservations_dbo.Observations_Observation_Id]
GO
ALTER TABLE [dbo].[Cycles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cycles_dbo.Charts_ChartId] FOREIGN KEY([ChartId])
REFERENCES [dbo].[Charts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cycles] CHECK CONSTRAINT [FK_dbo.Cycles_dbo.Charts_ChartId]
GO
ALTER TABLE [dbo].[ObservationNotes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ObservationNotes_dbo.Observations_ObservationId] FOREIGN KEY([ObservationId])
REFERENCES [dbo].[Observations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ObservationNotes] CHECK CONSTRAINT [FK_dbo.ObservationNotes_dbo.Observations_ObservationId]
GO
ALTER TABLE [dbo].[Observations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Observations_dbo.CipherCds_CipherCdId] FOREIGN KEY([CipherCdId])
REFERENCES [dbo].[CipherCds] ([Id])
GO
ALTER TABLE [dbo].[Observations] CHECK CONSTRAINT [FK_dbo.Observations_dbo.CipherCds_CipherCdId]
GO
ALTER TABLE [dbo].[Observations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Observations_dbo.Ciphers_CipherId] FOREIGN KEY([CipherId])
REFERENCES [dbo].[Ciphers] ([Id])
GO
ALTER TABLE [dbo].[Observations] CHECK CONSTRAINT [FK_dbo.Observations_dbo.Ciphers_CipherId]
GO
ALTER TABLE [dbo].[Observations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Observations_dbo.Cycles_CycleId] FOREIGN KEY([CycleId])
REFERENCES [dbo].[Cycles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Observations] CHECK CONSTRAINT [FK_dbo.Observations_dbo.Cycles_CycleId]
GO
ALTER TABLE [dbo].[Observations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Observations_dbo.Letters_LetterId] FOREIGN KEY([LetterId])
REFERENCES [dbo].[Letters] ([Id])
GO
ALTER TABLE [dbo].[Observations] CHECK CONSTRAINT [FK_dbo.Observations_dbo.Letters_LetterId]
GO
ALTER TABLE [dbo].[Observations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Observations_dbo.Markers_MarkerId] FOREIGN KEY([MarkerId])
REFERENCES [dbo].[Markers] ([Id])
GO
ALTER TABLE [dbo].[Observations] CHECK CONSTRAINT [FK_dbo.Observations_dbo.Markers_MarkerId]
GO
ALTER TABLE [dbo].[Observations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Observations_dbo.NumTimes_NumTimes_Id] FOREIGN KEY([NumTimes_Id])
REFERENCES [dbo].[NumTimes] ([Id])
GO
ALTER TABLE [dbo].[Observations] CHECK CONSTRAINT [FK_dbo.Observations_dbo.NumTimes_NumTimes_Id]
GO
ALTER TABLE [dbo].[Pictures]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pictures_dbo.Observations_ObservationId] FOREIGN KEY([ObservationId])
REFERENCES [dbo].[Observations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pictures] CHECK CONSTRAINT [FK_dbo.Pictures_dbo.Observations_ObservationId]
GO
