.vertical-radio {
  display: block;
  width: 11.0em;
  /* height: 9.0em; */
  /* background-color: aquamarine */
}

.radio-element:nth-child(even) {
  /* background-color: blueviolet; */
  display: inline-block;
  width: 4em;
  margin-left: 1em;
}

.radio-element:nth-child(odd) {
  /* background-color: rgb(226, 43, 113); */
  display: inline-block;
  width: 4em;
  margin-right: 1em;
}
