<div class="row">
  <div class="col-3"> </div>

  <div class="col-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Wypelnij dane kart do dodania:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nazwa Karty" [(ngModel)]='chartToAdd.title'>
        </mat-form-field>
        <mat-form-field class="example-full-width note">
          <textarea matInput placeholder="Notka do karty" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="50" [(ngModel)]='chartToAdd.note'></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="btn" [routerLink]="[ '/welcome']">Anuluj</button>
        <button mat-raised-button color="primary" class="btn"  (click)='AddChart()'>Dodaj</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-3"> </div>
</div>
