<div class="container ">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top justify-content-between">
    <div class="d-flex justify-content-start">


      <span class="navbar-brand">
        <img [routerLink]="[ '/welcome']" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30"
          class="d-inline-block align-top rotating-logo" alt="NaproKarta"> NaproKarta
      </span>
      <a [routerLink]="[ '/settings' ]" class="navbar-brand ">
        {{userName ? ('Hello ' + userName) : ''}}
      </a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div *ngIf="userName" class=" collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li *ngIf="chartIdsAndTitles.length>0" class="mr-2 nav-item ">
            <div class="dropdown">
              <button mat-raised-button color="primary" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wybierz karte </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a *ngFor="let chartIdAndTitle of chartIdsAndTitles" class="dropdown-item" [id]='chartIdAndTitle.id' 
                (click)='RefreshChart(chartIdAndTitle.id)'>
                {{chartIdAndTitle.title}}
              </a>
              <!-- [routerLink]="[ '/chart',chartIdAndTitle.id]" -->
              </div>
            </div>
          </li>
          <li class="ml-2 nav-item">
            <button mat-raised-button color="primary" class="btn btn-md" (click)='AddChartByPopup()'>Dodaj nową kartę</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="userName">
          <a href="{{clientUrl + '/Manage'}}" class="nav-item nav-link">Ustawienia Konta</a>
        </li>
        <li *ngIf="!userName" class="nav-item">
          <a href="{{clientUrl + '/Account/Register'}}" class="nav-item nav-link">Zarejestruj</a>
        </li>
        <li *ngIf="!userName" class="nav-item">
          <a href="{{clientUrl + '/Account/Login'}}" class="nav-item nav-link">Zaloguj</a>
        </li>
        <li *ngIf="userName" class="nav-item">
          <a href="{{clientUrl + ''}}" class="nav-item nav-link">Wyloguj</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
