.rotating-logo {
  /* height: 50px; */
  /* width: 50px; */
  /* border-radius: 50%; */
  /* border: 5px solid black; */
  margin-right: 1em;
  -webkit-animation: rotateY 5s infinite linear;
  animation: rotateY 5s infinite linear;
}

@-webkit-keyframes rotateY {
  to {
    -webkit-transform: rotateY(360deg);
  }
}

@keyframes rotateY {
  to {
    transform: rotateY(360deg);
  }
}

.zoom {
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.zoom:hover {
  margin-right: 1em;
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
