<table>
  <tr>
    <td>
      <app-chart-cell></app-chart-cell>
    </td>
    <td>
      <app-chart-cell></app-chart-cell>
    </td>
    <td>
      <app-chart-cell></app-chart-cell>
    </td>
    <td>
      <app-chart-cell></app-chart-cell>
    </td>
    <td>
      <app-chart-cell></app-chart-cell>
    </td>
    <td>
      <app-chart-cell></app-chart-cell>
    </td>
    <td>
      <app-chart-cell></app-chart-cell>
    </td>
    <td>
      <app-chart-cell></app-chart-cell>
    </td>
    <td>
      <app-chart-cell></app-chart-cell>
    </td>
    <td>
      <app-chart-cell></app-chart-cell>
    </td>
    <td>
      <app-chart-cell></app-chart-cell>
    </td>
    <td>
      <app-chart-cell></app-chart-cell>
    </td>
    <td>
      <app-chart-cell></app-chart-cell>
    </td>
  </tr>
</table>
