  <button mat-raised-button class="marker">
    <img src="../../../../assets/img/markers/marker-grey.jpg" alt="">
  </button>
  <button mat-raised-button class="marker">
    <img src="../../../../assets/img/markers/marker-grey.jpg" alt="">
  </button>
  <button mat-raised-button class="marker">
    <img src="../../../../assets/img/markers/marker-grey.jpg" alt="">
  </button>
  <button mat-raised-button class="marker">
    <img src="../../../../assets/img/markers/marker-grey.jpg" alt="">
  </button>
  <button mat-raised-button class="marker">
    <img src="../../../../assets/img/markers/marker-grey.jpg" alt="">
  </button>
  <button mat-raised-button class="marker">
    <img src="../../../../assets/img/markers/marker-grey.jpg" alt="">
  </button>
  <button mat-raised-button class="marker">
    <img src="../../../../assets/img/markers/marker-grey.jpg" alt="">
  </button>
  