<div class="card">
  <div class="card-body">
    <button type="button" name="" id="" class="btn btn-secondary btn-lg       ">
      <img src="../../assets/img//markers/markerRed.jpg" alt="">
    </button>
    <button type="button" name="" id="" class="btn btn-secondary btn-lg       ">
      <img src="../../assets/img//markers/markerGreen.jpg" alt="">
    </button>
    <button type="button" name="" id="" class=" selected-button btn btn-secondary btn-lg       ">
      <img src="../../assets/img//markers/markerYellow.jpg" alt="">
    </button>
    <button type="button" name="" id="" class="btn btn-secondary btn-lg       ">
      <img src="../../assets/img//markers/markerGreenBaby.jpg" alt="">
    </button>
    <button type="button" name="" id="" class="btn btn-secondary btn-lg       ">
      <img src="../../assets/img//markers/markerYellowBaby.jpg" alt="">
    </button>
    <button type="button" name="" id="" class="btn btn-secondary btn-lg       ">
      <img src="../../assets/img//markers/markerWhiteBaby.jpg" alt="">
    </button>
    <button type="button" name="" id="" class="btn btn-secondary btn-lg       ">
      <img src="../../assets/img//markers/markerGrey.jpg" alt="">
    </button>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <button mat-raised-button color="primary">
      <img src="../../assets/img//markers/markerRed.jpg" alt="">
    </button>
    <button mat-raised-button color="primary">
      <img src="../../assets/img//markers/markerGreen.jpg" alt="">
    </button>
    <button mat-raised-button color="primary">
      <img src="../../assets/img//markers/markerYellow.jpg" alt="">
    </button>
    <button mat-raised-button color="primary">
      <img src="../../assets/img//markers/markerGreenBaby.jpg" alt="">
    </button>
    <button mat-raised-button color="primary">
      <img src="../../assets/img//markers/markerYellowBaby.jpg" alt="">
    </button>
    <button mat-raised-button color="primary">
      <img src="../../assets/img//markers/markerWhiteBaby.jpg" alt="">
    </button>
    <button mat-raised-button color="primary">
      <img src="../../assets/img//markers/markerGrey.jpg" alt="">
    </button>



  </div>
</div>
