.left-column {
  display: inline-block;
  width: 75%;
}

mat-card {
  margin: 0.2em;
  /* text-shadow: 0px 0px 6px #800000; */
}

.group-box {
  border: 1px solid #7B1FA2;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  box-shadow: 0px 0px 5px #800000;
}

.navigation-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.parameters {
  display: inline-flex;
  width: 16.5em;
}

.bottom-buttons {
  text-align: right;
}

/* .radio-element {
    margin-left: 1.5em;
    margin-right: 1.5em; */

/* background-color: aqua;
      border: 1px solid darkslategray;
      border-radius: 5px; */

/* } */

/* .card{
    border-color: lightseagreen;
}
 button{
    background-color: rgb(165, 168, 255)

}*/

/* button:hover{
    background-color: lightblue;
}
.selected-button{
    background-color: rgb(35, 41, 221);
} */

/*
table {
    border: 2px solid rgb(56, 56, 56);
    padding: 0px;
    margin: 0px;
    vertical-align: central;
    text-align: center;
    border-spacing: 0px;
    border-collapse: collapse;
  }

  td {
    border: none;
    vertical-align: central;
    text-align: center;
    padding: 0px;
    width: 50px;
  }
   */