obs id{{observation.id}}
<mat-card class="group-box navigation-row">
  <!-- <span mat-dialog-title class="mat-typography"> -->
  <app-date-nav-bar [date]="observation.date" (notify)="onDateChanged($event)"></app-date-nav-bar>
  <!-- </span> -->
  <button mat-raised-button color="primary" [routerLink]="[ '/chart', fromChartId ]">Anuluj</button>
  <button mat-raised-button color="primary" (click)="saveObservation()" [routerLink]="[ '/chart', fromChartId]">Zapisz</button>
  <button mat-raised-button color="primary" (click)="deleteObservation()" [routerLink]="[ '/chart', fromChartId]">Usun</button>

</mat-card>

<div class="left-column">
  <!-- znaczek -->
  <mat-card class="group-box">
    <!-- <mat-card-subtitle>Znaczek</mat-card-subtitle> -->
    <app-markers-group-box [marker]="observation.marker" [labels]="labelValues.markerNames" (notify)="onMarkerChanged($event)"></app-markers-group-box>
  </mat-card>

  <!-- opis -->
  <mat-card class="group-box">
    <!-- <mat-card-header>
    <mat-card-subtitle>Opis</mat-card-subtitle>
  </mat-card-header> -->
    <mat-card-content>
      <div>
        <mat-card class="parameters">
          <app-radio-group-2-columns [radioGroupValue]="observation.letter" [labels]="labelValues.letters" (notify)="onLetterChanged($event)"></app-radio-group-2-columns>
          <mat-checkbox class="radio-element">B</mat-checkbox>
        </mat-card>
        <mat-card class="parameters">
          <app-radio-group-2-columns [radioGroupValue]="observation.cipher" [labels]="labelValues.ciphers" (notify)="onCipherChanged($event)"></app-radio-group-2-columns>
        </mat-card>
        <mat-card class="parameters">
          <app-radio-group-2-columns [radioGroupValue]="observation.cipherCd" [labels]="labelValues.ciphersCd" (notify)="onCipherCdChanged($event)"></app-radio-group-2-columns>
        </mat-card>
        <mat-card class="parameters">
          <app-radio-group-2-columns [radioGroupValue]="observation.numTimes" [labels]="labelValues.numTimes" (notify)="onNumTimesChanged($event)"></app-radio-group-2-columns>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- notatki -->
  <mat-card class="group-box">
    <mat-card-header>
      <!-- <mat-card-subtitle>Notatki</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <app-observation-note *ngFor="let item of observation.notes" [note]="item"></app-observation-note>
      <!-- <app-observation-note></app-observation-note>
      <app-observation-note></app-observation-note> -->
    </mat-card-content>
  </mat-card>
</div>

<!-- <div class="right-column">
  <mat-card class="group-box">
    <mat-card-header>
      <mat-card-subtitle>Zdjecie</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="http://placehold.it/250" class="img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle|"
        alt="">
    </mat-card-content>
  </mat-card>
</div> -->

<!-- buttons -->
<mat-card>
  <mat-card-actions class="bottom-buttons">
    <button mat-raised-button color="primary" [routerLink]="[ '/chart', fromChartId ]">Anuluj</button>
    <button mat-raised-button color="primary" (click)="saveObservation()" [routerLink]="[ '/chart', fromChartId]">Zapisz</button>
  </mat-card-actions>
</mat-card>
