<div class="container ">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top justify-content-between">
    <div class="d-flex justify-content-start">


      <span class="navbar-brand">
        <img src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
          alt=""> NaproKarta
      </span>
      <span *ngIf="isLogged" class="navbar-brand ">
        {{isLogged ? ('Hello ' + userName) : ''}}
      </span>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div *ngIf="isLogged" class=" collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li *ngIf="chartIdsAndTitles.length>0" class="mr-2 nav-item ">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Wybierz karte </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a *ngFor="let chartIdAndTitle of chartIdsAndTitles; let idx = index" class="dropdown-item" [id]='chartIdAndTitle[0]' [routerLink]="[ '/chart',chartIdAndTitle[0]]">
                  {{chartIdAndTitle[1]}}
                </a>
              </div>
            </div>
          </li>
          <li class="ml-2 nav-item">
            <button type="button" class="btn btn-secondary">Dodaj nową kartę</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="isLogged">
          <a href="http://localhost/NaproKarta/Manage" class="nav-item nav-link">Ustawienia Konta</a>
        </li>
        <li *ngIf="!isLogged" class="nav-item">
          <a href="http://localhost/NaproKarta/Account/Register" class="nav-item nav-link">Zarejestruj</a>
        </li>
        <li *ngIf="!isLogged" class="nav-item">
          <a href="http://localhost/NaproKarta/Account/Login" class="nav-item nav-link">Zaloguj</a>
        </li>
        <li *ngIf="isLogged" class="nav-item">
          <a href="http://getbootstrap.com/docs/4.0/components/card/" class="nav-item nav-link">Wyloguj</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
