<div class="container ">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top justify-content-between">
    <div class="d-flex justify-content-start">


      <span class="navbar-brand">
        <img src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
          alt=""> Navbar
      </span>
      <span class="navbar-brand ">
        Hello {{userName}}
      </span>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class=" collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="mr-2 nav-item">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Wybierz karte </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">karta1</a>
                <a class="dropdown-item" href="#">karta2 </a>
                <a class="dropdown-item" href="#">karta3 </a>
              </div>
            </div>
          </li>
          <li class="ml-2 nav-item">
            <button type="button" class="btn btn-secondary">Dodaj nową</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-item nav-link" href="#">Ustawienia Konta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Zarejestruj</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Zaloguj</a>
        </li>
        <li class="nav-item">
          <a href="http://getbootstrap.com/docs/4.0/components/card/" class="nav-link" >Wyloguj</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
