<mat-card>
  <mat-card-header class="group-box">
    <mat-card-title>
      <h4>Wybrana Karta: {{chartTitle}} </h4>
    </mat-card-title>
    <mat-card-subtitle>
      <h6>
        Twoja Notka do tej Karty:
        <span> {{chartNote}}</span>
      </h6>
    </mat-card-subtitle>
    <div class="col-2"></div>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)='ModifyChart()'>Edytuj Wlaściwości tej karty</button>
      <button mat-raised-button color="primary" (click)='DeleteChart()'>Usuń te kartę</button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content class="group-box">
    <table class="m-2">
      <tr>
        <table>
          <tr *ngFor="let item of cycles; let i=index">
            <td>
              <app-chart-cycle [cycle]='item' [numberInChart]='i'></app-chart-cycle>
            </td>
          </tr>
        </table>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-footer>
    paginator
  </mat-card-footer>
</mat-card>
