table {
  border: 2px solid rgb(56, 56, 56);
  padding: 0px;
  margin: 0px;
  vertical-align: central;
  text-align: center;
  border-spacing: 0px;
  border-collapse: collapse;
}

td {
  border: none;
  vertical-align: central;
  text-align: center;
  padding: 0px;
  width: 50px;
}

.cell {
  border: 1px solid #7B1FA2 ;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}