<p mat-dialog-title class="mat-typography">
  Aktualizuj dane karty:
</p>
<mat-dialog-content>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nazwa Karty" [(ngModel)]='chart.title'>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width note">
    <textarea matInput placeholder="Notka do karty" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="50" [(ngModel)]='chart.note'></textarea>
  </mat-form-field>
  <br>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="primary" class="btn">Anuluj</button>
  <button mat-raised-button color="primary" class="btn" (click)='UpdateChart()'>Zapisz</button>
</mat-dialog-actions>
